{% extends 'Home.html' %} {% block content %}
    <br/>
    <br/>
    <div class="">
    <div class="row d-flex justify-content-center">
    <h2 class="text-center">Carga Laboral del Empleado:</h2>
    <h3 class="text-center">{{ tareas.usuario_id_usuario.nombre_usuario }}</h3>
    <hr class="hr-blurry"/>
    <img
            src="../../static/Usuario.png"
            class="img-fluid" style="  height: 10%; width: 10%;"
    />
    <div>
    <div class="follow" style="display: flex;
width: 95%;
justify-content: space-around;
margin: 30px auto;
text-align: center;
border-bottom: 2px solid #ECEEEF;
padding-bottom: 20px;">
        <div>
            <h5>ID Tarea</h5>
            <p>{{ tareas.id_tarea }}</p>
        </div>
        <div>
            <h5>Nombre de Tarea</h5>
            <p>{{ tareas.nombre_tarea }}</p>
        </div>
        <div>
            <h5>Descripción</h5>
            <p>{{ tareas.descripcion_tarea }}</p>
        </div>
        <div>
            <h5>Avance</h5>
            <p>{{ tareas.avance }}</p>
        </div>
        <div>
            <h5>Fecha inico</h5>
        <p>{{ tareas.fecha_inicio }}</p>
        </div>
        <div>
            <h5>Fecha final</h5>
        <p>{{ tareas.fecha_termino }}</p>
        </div>
    </div>
{% endblock content %}
