{% extends 'Home.html' %} {% block content %}
<br>
<br>
<h1 class="text-center">Gestión de Empresas</h1>
<hr class="hr-blurry" />
<div class="container py-9">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id Empresa</th>
            <th scope="col">Nombre Empresa</th>
          </tr>
        </thead>
        <tbody>
          {% for t in empresas %}
          <tr>
            <td>{{ t.id_empresa }}</td>
            <td>{{ t.nombre_empresa }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}
