{% extends 'Home.html' %} {% block content %}
<br />
<br />
<h1 class="text-center">Gestión de Usuarios</h1>
<hr class="hr-blurry" />

<div class="container py-9">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID Usuario</th>
        <th scope="col">Nombre Usuario</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Empresa</th>
        <th scope="col">Unidad Interna</th>
        <th scope="col">Rol</th>
        
      </tr>
    </thead>
    <tbody>
      {% for t in user %}
      <tr>
        <td>{{ t.id_usuario }}</td>
        <td>{{ t.nombre_usuario }}</td>
        <td>{{ t.correo_usuario }}</td>
        <td>{{ t.empresa_id_empresa.nombre_empresa }}</td>
        <td>{{ t.unidad_interna_id_unidad.nombre_unidad }}</td>
        <td>{{ t.rol_id_rol.nombre_rol }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
