{% extends 'Home.html' %} {% block content %}
<br>
<br>
<h1 class="text-center">Gestión de Rol</h1>
<hr class="hr-blurry" />
<div class="container py-9">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id Rol</th>
            <th scope="col">Nombre Rol</th>
          </tr>
        </thead>
        <tbody>
          {% for t in roles %}
          <tr>
            <td>{{ t.id_rol}}</td>
            <td>{{ t.nombre_rol }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}
