{% extends 'Home.html' %} {% block content %}
<div class="container py-9">
  <br />
  <br />
  <h1 class="text-center">Gestión de Flujo de Tarea</h1>
  <hr class="hr-blurry" />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id Flujo De Tarea</th>
        <th scope="col">Nombre Flujo de Tarea</th>
        <th scope="col">Avance</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for t in flujo %}
      <tr>
        <td>{{ t.id_flujo}}</td>
        <td>{{ t.nombre_flujo }}</td>
        <td>{{ t.avance }}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'mod_flujo' t.id_flujo %}"
            >Ejecutar Flujo</a
          >
        </td>
        
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
